
body, button, input, select, textarea{color:#5b646c;}
button, input, select, textarea{border-color: #e7e7e7;}
/*
 * global style
 */

a{ color: #1eaade; }

.glb-selector .on .option:before{color: #1eaade;}
.form-text-link, .glb-result-success, .glb-text {color: #1eaade;}
.glb-option .op-item {color: #1eaade;}
.glb-pitems .pitem-badge {color: #1eaade;}
.glb-stepline li:before, .glb-stepline .step-current .step-text {color: #1eaade;}
.glb-tabs li.current .tab-item{color: #1eaade;}
.glb-btn-default:hover{color:#1eaade;}
.glb-pagination a:hover{color:#1eaade;}
.glb-selector dd:hover .option,.glb-selector-ico .on .option,.glb-selector-ico .on:hover .option{color: #1eaade;}

.frame-logo .frame-logo-main,.frame-menu-active a, .frame-menu-active a:hover{background-color: #1eaade;}
.frame-head{background-color: #1eaade;}
.glb-btn-primary{background-color: #1eaade;}
.glb-pagination li.current a{background-color: #1eaade;}
.glb-topbar{background-color: #1eaade;}
.glb-menu-items .menu-current a{background-color: #1eaade;}
.glb-stepbar .step-current,.glb-stepline .step-current:before{background-color: #1eaade;}
.glb-option .op-active .op-item, .glb-option .op-item:hover,.glb-option .op-active .op-item .op-desc, .glb-option .op-item:hover .op-desc{background-color: #1eaade;}
.glb-metro-body .form-body {background-color: #1eaade;}
.form-ipt-group .ipt-icon:hover{background-color: #1eaade;}

.glb-selector .on .option, .glb-selector .on:hover .option, .glb-selector-img .on .option:before{background-color: #1eaade;}

.glb-btn-primary{border-color: #1eaade;}
.glb-tabs li.current{border-top-color: #1eaade;}
.glb-pagination li.current a{border-color: #1eaade;}
.glb-nav-hover{border-color: #1eaade;}
.glb-menu-items .menu-current a{border-color: #1eaade;}
.glb-stepbar .step-current:before, .glb-stepbar .step-current:after, .glb-stepline li:before, .glb-stepline li:after, .glb-stepline .step-current:before{border-color: #1eaade;}
.glb-option .op-item, .glb-option .op-active .op-item, .glb-option .op-item:hover{border-color: #1eaade;}
.glb-portrait{border-color: #1eaade;}
.glb-pitems .pitem-badge{border-color: #1eaade;}
.glb-btn-default:hover{border-color: #1eaade;}
.glb-selector dd:hover{border-color: #1eaade;}
.glb-pagination a:hover{border-top-color: #1eaade !important;}
.glb-selector .on,.glb-selector .on:hover{border-color: #1eaade;}
.glb-selector .on .option:before {border-bottom-color: #1eaade;border-right-color: #1eaade;}


a:hover{ color: #00a0e9; }

.frame-tools li a:hover{background-color: #00a0e9;}
.glb-bottom a:hover{color: #00a0e9;}
.glb-option .op-item:hover{color: #00a0e9;}

.glb-btn-primary:hover{background-color: #00a0e9;}
.glb-pagination a:hover{background-color: #00a0e9;}
.glb-topbar a:hover{background-color: #00a0e9;}
.glb-metro-body {background-color: #00a0e9;}

.glb-btn-primary:hover {border-color: #00a0e9;}
.glb-pagination a:hover {border-color: #00a0e9;}


/**
 * components
 */
.glb-stepbar li{background-color: #ddd;}
.glb-stepbar li:after{border-left-color: #ddd;}
.glb-stepbar li:before{border-top-color: #ddd;border-bottom-color: #ddd;}
.glb-stepline .step-text{color:#a3adbe;}

.glb-tips{border-color: #dfdfdf;background-color: #f0f0f0;}
.glb-tips-alert{border-color: #f1d3b9;background-color: #fef8e6;}
.glb-tips-notice{border-color: #b3ccd5;background-color: #e6f5fb;color:#4d7786;}
.glb-tips-info{border-color: #dfdfdf;background-color: #f0f0f0;}
.glb-tips-warning{border-color: #ff9900;background-color: #fff;color:#ff9900;}
.glb-tips-success{border-color: #bdd9c5;background-color: #ecf7f4;}

.glb-tabs li{margin-bottom: 0;}
.glb-tabs .tab-item{color:#5b646c;background-color: #fff;}

.glb-btn-default{background-color: #fff;border-color: #e7e7e7;}
.glb-button .iconfont{display: none;}


.glb-tables thead th, .glb-tables thead th a{color:#8a94a5;}
.glb-tables thead th{background-color: #f1f2f2;}
.glb-tables tfoot td{background-color: #fff;}
.glb-tables tfoot,.glb-tables tfoot tr,.glb-tables tfoot td{border:1px solid transparent;}
.glb-tables th, .glb-tables tbody td{border: 1px solid #e0e0e0;}
.glb-tables tbody tr:hover {background-color: #fbfbfb;}
.glb-tables tbody tr:hover td:first-child{border-left-color: #1eaade;}
.glb-tables .tbs-split{color:#5b646c;}
.glb-tables td.tbs-col-nodata{color:#fab930;}
.glb-pagination li{width: 32px;line-height: 32px;}
.glb-pagination a, .glb-pagination span{color:#5b646c;}
.glb-pagination a,.glb-pagination a:hover{border-color: #e7e7e7;}
.glb-pagination a:hover{background-color: #fff;}

.glb-selector .option{color:#5b646c;}
.glb-selector dt,.glb-selector dd{border-color: #e7e7e7;background-color: #fff;color:#333;}
.glb-selector dd:hover .option{background: none;}
.glb-selector-ico .option{color:#8a94a5;}
.glb-selector-ico .on .option, .glb-selector-ico .on:hover .option, .glb-selector-img .on .option:before{background: none;}
.glb-selector .on .option:after{color:#fff;}

.glb-pitems .pitem-main{background-color: #f5f5f5;border: 1px solid #e7e7e7;}
.glb-pitems .pitem-main:hover{background-color: #f1f1f1;}
.glb-pitems .pitem-picbar{background-color: #fff;border: none;border-right: 1px solid #e7e7e7;}
.glb-pitems .pitem-infobar{margin-right: 14px;height: 140px;}
.glb-pitems .pitem-table{bottom:10px;}
.glb-pitems .pitem-info-hd{height: 36px;overflow: hidden;}
.glb-pitems .pitem-title,.glb-pitems .pitem-props{color:#5b646c;}
.glb-pitems .pitem-subtxt,.glb-pitems .pitem-desc,.glb-pitems .pitem-table, .glb-pitems .pitem-table th, .glb-pitems .pitem-table td{color:#8a94a5;}
.glb-pitems .pitem-table, .glb-pitems .pitem-table th, .glb-pitems .pitem-table td{border-color: #e7e7e7;}


.form-ipt-group .ipt-addon{background-color: #e7e7e7;}
.form-text-em{color:#f94c4d;}
.form-label,.form-caption{color:#8a94a5;}

.dialog-head{border-bottom: none;}
.dialog-foot{text-align: center;border-top: none;padding: 30px;}
.dialog-message{text-align: center;color:#5b646c;}
.dialog-box-alert .dialog-head{padding: 20px 25px;}
.dialog-box-alert .dialog-foot .glb-button{padding: 6px 30px;margin:0 6px;}


/**
 * gla
 */
.frame-menu-console,.frame-menu-console:hover{background-color: #5d86a8;}
.frame-menu-console,.frame-menu-console:before{color:#8cb1d0;}
.frame-menu-console:hover:before{color:#fff;}
.frame-menu,.frame-menu-sub{background-color: #021626;}
.frame-menu-sub a:hover{background-color: #2b4f6d;}
.frame-menu-mod,.frame-menu-mod a:hover{background-color: #12283a;}
.frame-menu-mod a:hover{color:#fff;}
.frame-menu-active a, .frame-menu-active a:hover{background-color:#2b4f6d;border-left:5px solid #2198c7;}
.frame-menu-item .frame-menu-active .menu-text{left:39px;}
.frame-menu-active .menu-icon{left:-5px;}
.frame-msub-hd{background-color: #fff;color:#8a94a5;height: 84px;padding: 0 22px;}
.frame-msub-hd .msub-title{line-height: 84px;color:#8a94a5;}
.frame-msub{background-color: #f7f8f8;border-right: 1px solid #f2f2f2;}
.frame-msub-items li{border-bottom: 1px solid #eeebeb;}
.frame-msub-items .msub-current{margin-right: -1px;}
.frame-msub-items .msub-current,.frame-msub-items .msub-current a:hover{background-color: #fff;}
.frame-msub-items .iconfont,.frame-msub-items .msub-current a,.frame-msub-items .msub-current a:hover{color:#8a94a5;}
.frame-msub-items .iconfont{padding-right: 12px;}
.frame-msub-items a{padding: 0 24px;color:#afb9c1;}
.frame-msub-items a:hover{color:#666;background-color: #f0f2f4;}

